<div class="container" id="main-form">
  <div class="report">
    <h2>History Grades</h2>

    <table class="table table-bordered table-hover" id="report-table">
      <thead>
      <tr>
        <th>Student Name</th>
        <th>Grade</th>
        <th></th>
      </tr>
      </thead>
      <tbody>

      <% @students.each do |student| %>
        <tr style="background-color: <%= student.status %> ">
          <td><%= best_in_place student, :name %></td>
          <td><%= best_in_place student, :grade %></td>
          <td id="edit-student"><%= link_to "Delete", student_path(student), :method => :delete %></td>
        </tr>
      <% end %>

      <tr>
      <%= form_for(@student, :id => "student-form") do |f| %>
        <td><%= f.text_field :name, placeholder: 'Name' %></td>
        <td><%= f.text_field :grade, placeholder: 'Grade' %></td>
        <td><%= f.submit "Add Student" %></td>
      <% end %>
      </tr>
      </tbody>
    </table>

    <h3>Class Summary</h3>
    <h4>Min Grade: <%= @minimum_grade %> </h4>
    <h4>Max Grade: <%= @maximum_grade %> </h4>
    <h4>Average Grade: <%= @average_grade %> </h4>

  </div>
</div>

<script>
  jQuery(".best_in_place").best_in_place().bind("ajax:success", function () {location.reload(); });
</script>
