<div class="container" id="main-form">
  <div class="report">
    <h1>Add Student</h1>

    <%= form_for(@student, :id => "student-form") do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :grade %>
      <%= f.text_field :grade %>
      <%= f.submit "Add Student" %>
    <% end %>


    </div>
    </div>


>